<% wrap_layout :layout do %>
  <h2>
    <a href="<%= current_page.url %>"><%= data.page.title %></a>
  </h2>
  <time datetime="<%= current_page.date.strftime('%Y-%m-%d') %>" pubdate><%= current_page.date.strftime('%b %e, %Y') %></time>
  <article>
    <%= yield %>
  </article>
  <% if current_page.tags.any? %>
    <div class="article_footer">
      <div class="tags">
        Tags:
        <%= current_page.tags.map { |tag| link_to tag, tag_path(tag) }.join(', ') %>
      </div>
      <div class="timestamp">
        <%= current_page.date.strftime('%Y-%m-%d') %>
      </div>
      <div class='clear'></div>
    </div>
  <% end %>
<% end %>
