<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title><%= data.page.title || "Half a Mind" %></title>
    
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="alternate" type="application/rss+xml"  href="/feed.xml" title="Half a Mind - Joey Aghion">
    <link rel="author" href="https://plus.google.com/+JoeyAghion" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">
          <img src="/images/joey.jpg" width="75" height="75" alt="Joey Aghion" />
        </a>
        <h1><a href="/">Half a Mind</a></h1>
        by <a href="mailto:joey@aghion.com">Joey Aghion</a>
      </header>
      <section>
        <%= yield %>
      </section>
      <footer>
        <div class="col">
          <h4>Recent Articles</h4>
          <ol>
            <% blog.articles[0...5].each do |article| %>
              <% next if article.url == data.page.url %>
              <li><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></li>
            <% end %>
          </ol>
        </div>
        <div class="col">
          <h4>Tags</h4>
          <ol>
            <% blog.tags.sort_by{|tag, articles| articles.size }.reverse.each_with_index do |(tag, articles), i| %>
              <% break if i > 5 %>
              <li><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></li>
            <% end %>
          </ol>
        </div>
        <p>Joey Aghion &mdash; <a href="mailto:joey@aghion.com">joey@aghion.com</a></p>
      </footer>
    </div>
    <%= javascript_include_tag  "scale.fix" %>
    
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10920982-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
